
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */